{% extends "booklend/base.html" %}

{% block content %}
<main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
        <h2>You have been logged out</h2>
        <div class="border-top pt-3">
            <small class="text-muted">
                 <h3><a href="{% url 'login' %}">Log in again</a></h3>
            </small>
        </div>
        </div>
      </div>
</main>
{% endblock content %}
