{% extends "booklend/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
      </div>
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.img.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group col-md-4 mb-0">
                <legend class="border-bottom mb-4">Profile info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
                <div>
                    <label>Books</label>
                    <select name='books' class="selectmultiple form-control" multiple>
                        {% for book in user_books %}
                            <option>{{ book }}</option>
                        {% endfor %}
                    </select>
                </div>
            </fieldset>
            <div class="form-group col-md-4 mb-0">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
    </main>
{% endblock %}
