{% extends "booklend/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
      </div>
          
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group col-md-4 mb-0">
                    <legend class="border-bottom mb-4">Join today</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group col-md-4 mb-0">
                    <button class="btn btn-outline-info" type="submit">Sign up</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign in</a>
                </small>
            </div>
        </div>
</main>
{% endblock content %}
