{% extends 'booklend/base.html' %}

{% block content %}
    <div class="book">
        <div class="media-body">
            <p>Do you want to add it to your shelf?</p>
            <div>
              <p class="mr-2">{{ object.author }}</p>
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'assign_save' object.id %}">Update</a>
                </div>
            </div>
            <h2>{{ object.title }}</h2>
            <p>{{ object.description }}</p>
        </div>
    </div>
{% endblock content %}