{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{page_title}}</title>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>

    <body>
        <!-- Top bar Start -->
        <div class="top-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                    {% if user.is_authenticated %}
                        Welcome, dear BookMoth!
                    {% else %}
                        Are you a book moth?
                    {% endif %}
                    </div>
                    {% if user.is_authenticated %}
                    <div class="col-sm-6">
                        Manage your books:
                    {% else %}
                    <div class="col-sm-6">
                        Speak friend and enter:
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Top bar End -->

        <!-- Nav Bar Start -->
        <div class="nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <div class="mari-logo">
                                <a href="{% url 'home' %}"><img id="logo" src="{% static 'logo.png' %}" alt="Logo"></a>
                            </div>
                            <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                            <a class="nav-item nav-link" href="{% url 'books' %}">Books</a>
                            <div class="dropdown">
                                <a class="nav-item nav-link">Genres</a>
                                <div id="GenreDropdown" class="dropdown-content">
                                    {% for g in genres %}
                                        <a class="genretext" style="font-size: 80%" href="{% url 'books' %}?genre={{g.id}}&q={{q|default_if_none:'' }}">{{ g.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="navbar-nav ml-auto">
                            {% if user.is_authenticated %}
                                <a class="nav-item nav-link" href="{% url 'myshelf' %}">My shelf</a>
                                <a class="nav-item nav-link" href="{% url 'create' %}">Add book</a>
                                <a class="nav-item nav-link" href="{% url 'logout' %}">Log out</a>
                            {% else %}
                              <a class="nav-item nav-link" href="{% url 'login' %}">Log in</a>
                              <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->

        <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <div class="search">
                            <form action="{% url 'books' %}" method="get">
                                <input name="q" type="text" placeholder="Search..." value="{{ q }}">
                                {% if genre_id %}
                                <input name="genre" type='hidden' value="{{ genre_id }}">
                                {% endif %}
                                <button><i class="fa fa-search"></i></button>
                            </form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar End -->


        {% block content %}{% endblock %}

        <!-- Footer Bottom Start -->
        <br>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="copyright">
                        <p>Copyright &copy; <strong>BookMoths</strong>. All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->

        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

        <!-- Dropdown Menu Javascript -->
        <script src="{% static 'scripts.js' %}"></script>
    </body>
</html>
