{% extends 'booklend/base.html' %}
{% block content %}

<div>
    {% for book in object_list %}
      <div class="book">
        <p class="book-author">{{ book.author }}</p>
        <h2><small><a href="{% url 'detail' book.id %}">{{ book.title }}</a></small></h2>
        <p>{{ book.description|truncatewords:20 }}</p>
      </div>
    {% endfor %}
</div>

{% endblock content %}
