{% extends 'booklend/base.html' %}
{% block content %}

<div class="random-books">
    <img class="rounded-circle img" src="{{ object.author.profile.img.url }}">
        {% for book in books %}
        <div class="book">
            <div class="media-body">
                <p class="mr-2">{{ book.author }}</p>
                <h2><small><a href="{% url 'detail' book.id %}">{{ book.title }}</a></small></h2>
                <p>{{ book.description|truncatechars:135 }}</p>
            </div>
        </div>
        {% endfor %}
</div>

{% endblock content %}
