{% extends "booklend/base.html" %}
{% block content %}
<!--this will not actually delete the book - only remove it from my shelf -->
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Remove book</legend>
                    <h2>Are you sure you want to remove book <u>{{ object.title }}</u> from your shelf?</h2>
                </fieldset>
                <div class="form-group">
                    <a class="btn btn-outline-danger" type="submit" href="{% url 'remove_book' object.id %}">Remove from shelf</a>
                    <a class="btn btn-outline-secondary" href="{% url 'detail' object.id %}">Cancel</a>
                </div>
            </form>
        </div>
{% endblock content %}