{% extends 'booklend/base.html' %}

{% block content %}
    <div class="container-fluid">
        <img class="rounded-circle img" src="{{ object.author.profile.img.url }}">
        <div class="book-detail">
            <h4>{{ object.author }}</h4>
            <h2>{{ object.title }}</h2>
            <h5>{{ object.description }}</h5>
            <h6>Genre: {{ object.genre }}</h6>
            {% if user.is_authenticated %}
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'update' object.id %}">Update</a>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'assign' object.id %}">Add to my shelf</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'remove' object.id %}">Remove</a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
