{% extends 'booklend/base.html' %}
{% block content %}

<!-- Books block starts -->
    <div class="random-books">
        <img class="rounded-circle img" src="{{ object.author.profile.img.url }}">
        {% for book in display_books %}
            <div class="book">
                <div class="media-body">
                    <p class="mr-2">{{ book.author }}</p>
                    <h2><small><a href="{% url 'detail' book.id %}">{{ book.title }}</a></small></h2>
                    <p>{{ book.description|truncatechars:135 }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
<!-- Books block ends -->

<!-- Footer Start -->
<br>
    <div class="footer">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h3>Get in touch</h3>
                        <div class="contact-info">
                            <p><i class="fa fa-map-marker"></i> Estonia</p>
                            <p><i class="fa fa-envelope"></i> bookmoths@gmail.com</p>
                            <p><i class="fa fa-phone"></i><small> 0118999881999119725...3</small></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h3>We are</h3>
                        <div class="developers">
                            <p><i class="fas fa-book-dead"></i> Evelin Haljas</p>
                            <p><i class="fas fa-atlas"></i> Karoliine Moones</p>
                            <p><i class="fas fa-bible"></i> Maria Teller</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Footer End -->
    
{% endblock %}